<p>Hi <%= name %>, welcome to the Economy game. You have played <%= CONFIG.num_sessions %> times before.</p>
<p>The goal of this game is to amass over 10000 moneys in 30 days or less.</p>
<span class="button" onclick="EnterGame()">&nbsp;Start Game&nbsp;</span>
<p><img src="<%= pic_url %>" /></p>
