<div id="marketcontainer">
	<div id="market"></div>
	<div id="marketgraph"></div>
	<div style="clear:both"></div>
</div>
<div id="summary"></div>
<span id="nextday" class="button">&nbsp;Next day&nbsp;</span>
<span id="finish" class="button" onclick="FinishGame()">&nbsp;Finish&nbsp;</span>
<div id="winMessage" style="display:none"><p>Congratulations, you have won!</p><p>You may continue making even more money to earn a high score.</p></div>
